<p id="notice"><%= notice %></p>

<p>
  <b>Role:</b>
  <%= @membership.role_id %>
</p>

<p>
  <b>Member type:</b>
  <%= @membership.member_type %>
</p>

<p>
  <b>Member:</b>
  <%= @membership.member_id %>
</p>


<%= link_to 'Edit', edit_membership_path(@membership) %> |
<%= link_to 'Back', memberships_path %>
