<h1>Listing event_times</h1>

<table>
  <tr>
    <th>Event</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @event_times.each do |event_time| %>
  <tr>
    <td><%= event_time.event_id %></td>
    <td><%= link_to 'Show', event_time %></td>
    <td><%= link_to 'Edit', edit_event_time_path(event_time) %></td>
    <td><%= link_to 'Destroy', event_time, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Event time', new_event_time_path %>
