<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @calendar.name %>
</p>

<p>
  <b>Description:</b>
  <%= @calendar.description %>
</p>


<%= link_to 'Edit', edit_calendar_path(@calendar) %> |
<%= link_to 'Back', calendars_path %>
