<h1>Listing occurrences</h1>

<table>
  <tr>
    <th>Event time</th>
    <th>Start</th>
    <th>End</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @occurrences.each do |occurrence| %>
  <tr>
    <td><%= occurrence.event_time_id %></td>
    <td><%= occurrence.start %></td>
    <td><%= occurrence.end %></td>
    <td><%= link_to 'Show', occurrence %></td>
    <td><%= link_to 'Edit', edit_occurrence_path(occurrence) %></td>
    <td><%= link_to 'Destroy', occurrence, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Occurrence', new_occurrence_path %>
